<div class="container__big-card">
    <div class="big-card__photo">
        <img scr="https://s.tmimgcdn.com/scr/1200x627/345800/imagem-de-fundo-14400x8100px-em-esquema-de-cores-laranja-com-padrao-geometrico_345845-original.png" 
            alt="" 
            height="200px"
            srcset=""
        >
    </div>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Dota 2</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href ="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et neque tortor. Fusce dapibus
                lorem nec libero egestas maximus. In sed elementum urna. Vestibulum sem orci, pulvinar eget tortor non,
                tristique pulvinar nisi. Vestibulum nec eros quis sapien rhoncus ornare. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas. Nunc lectus libero, fringilla sit amet
                nunc at, convallis dictum elit. Pellentesque porttitor turpis sodales, accumsan augue nec, posuere
                magna. Vestibulum orci ex, iaculis in neque vitae, convallis viverra nibh. Maecenas at neque vehicula
                augue sagittis pretium et rhoncus lorem. Mauris efficitur risus a est ultricies, id scelerisque est
                ultrices. Pellentesque accumsan placerat lectus, sed vulputate tortor viverra eget.
            </a>
        </p>
    </div>

</div>